@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 10px,
    rgba(139, 92, 246, 0.02) 10px,
    rgba(139, 92, 246, 0.02) 20px
  );
}